[submodule "scaffolds/bare"]
	path = scaffolds/bare
	url = git@github.com:hashbangcore/nixos-template-bare
[submodule "scaffolds/n8n"]
	path = scaffolds/n8n
	url = git@github.com:hashbangcore/nixos-template-n8n
